
	<md-input-container md-no-float
	                    class="tasks__top md-block"
	                    ng-class="{'icons8-search': vm.focusInput}">

		<input ng-model="vm.search"
		       ng-focus="vm.focus()"
		       ng-blur="vm.focus()"
		       type="text"
		       class="tasks__input"
		       aria-label="Search">

		<md-menu>

			<md-button ng-click="$mdOpenMenu()"
			           class="tasks__btn md-raised"
			           aria-label="Edit Project">

				<div class="tasks__btn-icon icons8-more"></div>

			</md-button>

			<md-menu-content>

				<md-menu-item>
					<md-button >Edit</md-button>
				</md-menu-item>

				<md-menu-item>
					<md-button >Remove</md-button>
				</md-menu-item>

			</md-menu-content>

		</md-menu>

	</md-input-container>

	<div ng-show="vm.tasks.length" class="tasks__content" layout="row" >

		<md-list  class="tasks__list" flex>

			<task-item ng-repeat = "task in vm.tasks"
				delete="vm.del({id})"
				open-task = "vm.openTask()"
				item="task"
				layout="row"
				class="tasks__item">
			</task-item>

		</md-list>

	</div>

	<div ng-hide="vm.tasks.length"
	     class="tasks__no-match"
	     layout="column"
	     layout-align="center center"
	     flex>

		<div class="tasks__no-match-wrapper">
			<div class="icons8-todo-list"></div>
			<div class="tasks__no-match-text">Have a good day</div>
		</div>

	</div>


	<md-button ng-click = "vm.addTask()"
	           class="tasks__add md-fab md-primary md-hue-2"
	           aria-label="Add Task">

	  <div class="icons8-plus"></div>

	</md-button>
