
	<side-left projects = "vm.projects"
				user ="vm.user"
				new-project="vm.newProject()"
				class="dashboard__left"
				layout="row">

	</side-left>

	<tasks tasks ="vm.tasks"
			add-task = "vm.addTask()"
           open-task = "vm.openTask()"
			layout="column"
			class="dashboard__tasks"
			del = "vm.removeItem(id)" flex>
	</tasks>


	<side-dynamic value = "vm.value"
					content = "vm.navContent"
                  close ="vm.closeSide()"
					add ="vm.add()"
                  current = "vm.current"
                  layout="row">

	</side-dynamic>


