@import '../../../assets/styles/common'

.side-left {

	&__user{
		box-shadow: none;
	}

	&__btn{
		width:100%;
		font-family: SFMedium

		&.md-button.md-raised:not([disabled]){
			box-shadow: none;
		}
	}

}