<md-sidenav layout="column" md-theme="main" md-is-locked-open="true" class="side-left">

	<md-card class="side-left__user">
		<md-card-header layout="row" layout-align="center center">

			<md-card-avatar class="sidenav__avatar">
				<div>
					<img ng-src="{{vm.user.ava}}" class="md-user-avatar" alt="">
				</div>
			</md-card-avatar>

			<md-card-header-text>
				<span class="side-left__user md-title ">{{vm.user.name}}</span>
			</md-card-header-text>

		</md-card-header>

	</md-card>

	<div class="md-primary" layout="row">
		<span flex="75">Project</span>

		<md-button ng-click="vm.newProject()" class="md-raised md-primary" flex="25">
			<span class="btns-group__value icons8-plus"></span>
		</md-button>

		<!--<md-button class="md-icon-button" aria-label="Plus">
			<md-icon class="icons8-plus"></md-icon>
		</md-button>-->

	</div>








	<md-list ng-repeat="project in vm.projects" class="side-left__list">

		<md-list-item class="side-left__item">

			<md-button class="side-left__btn md-raised md-primary">
				<span class="btns-group__name">{{project.title}}</span>
				<span class="btns-group__value">{{project.task_count}}</span>
			</md-button>

		</md-list-item>

	</md-list>

</md-sidenav>

