@import '../../../assets/styles/common'

.side-dynamic
	width: 36%;
	max-width: 500px;

	&__container
		margin: -3px 0

		label
			letter-spacing: 0.6px;
			padding: 5px 0 5px 7px;
			font-size: 15px;
			color: #fff

		.md-placeholder
			padding-left:7px

		&-input
			font-size: 15px
			color: #fff

	&__form
		padding-top:30px
		width:68%

	&__title
		color: #fff
		font-size: 18px
		letter-spacing: 1px
		font-family: SFMedium
		text-align: center
		margin-bottom:28px

	&__close
		color: #fff
		position: absolute
		top: 21px;
		left: 12px;
		cursor: pointer

		.icons8-delete-2
			font-size: 22px

		&-text
			font-size: 9px
			text-transform: uppercase
			font-family:SFSemibold
			margin: -3px 0 0 2px;

	&__add
		&.md-button.md-fab
			position: absolute
			bottom: 22px;
			right: 5px;
			width: 50px
			height: 50px

		.icons8-checkmark
			font-size: 24px