

@font-face {
	font-family: 'SF-Medium';
	src: url('../assets/fonts/SFUIText-Medium.eot');
	src: url('../assets/fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFUIText-Medium.woff') format('woff'),
	url('../assets/fonts/SFUIText-Medium.svg#custom_font') format('svg');
	font-weight: 400;       // For normal width. It could has another value
	font-style: normal;     // Also could has another value
}

@font-face {
	font-family: 'SF-Regular';
	src: url('../assets/fonts/SFUIText-Regular.eot');
	src: url('../assets/fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFUIText-Regular.woff') format('woff'),
	url('../assets/fonts/SFUIText-Regular.svg#custom_font') format('svg');
	font-weight: 400;       // For normal width. It could has another value
	font-style: normal;     // Also could has another value
}
@font-face {
	font-family: 'SF-Semibold';
	src: url('../assets/fonts/SFUIText-Semibold.eot');
	src: url('../assets/fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFUIText-Semibold.woff') format('woff'),
	url('../assets/fonts/SFUIText-Semibold.svg#custom_font') format('svg');
	font-weight: 400;       // For normal width. It could has another value
	font-style: normal;     // Also could has another value
}

