SFMedium = 'SF-Medium', Helvetica, Arial, sans-serif
SFRegular = 'SF-Regular', Helvetica, Arial, sans-serif
SFSemibold = 'SF-Semibold', Helvetica, Arial, sans-serif

color-main = #292c33
color-main-hover = #6b6b99
color-grey = #b3bbcb
color-add = #b1b1c8